# Copy this file to .env and add your OpenAI API key
OPENAI_API_KEY=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
